gibutton {
    background-color: rgb(35, 178, 235);
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666;

}

button:hover {
    background-color: #0d1c72;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.show {
    width: 800px;
    height: 800px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

body {}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}